!!!5
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type='image/x-icon')
        link(rel="stylessheet", href="/css/bootstrap.css")
        link(rel="stylessheet", href="/vendor/toastr/toastr.css")
        link(rel="stylessheet", href="/css/site.css")
    body( ng-app='app')
        block main-content Hello World
            include scripts