script (type="text/javascript", src="/vender/jquery/dist/jquery.js")
script (type="text/javascript", src="/vender/angular/angular.js")
script (type="text/javascript", src="/vender/angular-resource/angular-resource.js")
script (type="text/javascript", src="/vender/angular-resource/angular-route.js")
scropt (type="text/javascript", src="/app/app.js")